#header {
    background: linear-gradient(to right, #C147E9, #1369b9);
}

.header_info {
    height: 100vh;
    padding-left: 45rem;
    padding-top: 10rem;  
}

.header_info h1 {
    font-size: 3rem;
} 

.header_info h2 {
    font-size: 2rem;
}